

/* Text and body */
body{
    margin: 0px;
    padding: 0px;
    background-image:linear-gradient( #212121 30%, #413d65 70%);
    font-family: "Times New Roman", Times, serif;
    font-size: 15pt;
    color: #d1d7e0;
}

h2 {
    color: #bdb7b7;
    font-size: 25px;
    margin: 5px;
    text-align: center;
}
h3{
         padding-top: 3%;
        color: #fef9c7;
        font-size: 25px;
        margin: 5px;
        text-align: center;
}
h4{
    color: #d4f3ef;
    font-size: 20px;
    text-align: center;
}





/* Containers */
#header{
    position: relative;
    
}

.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}

.container{
    
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}



.banner {
    background-color: #2b1f31;
    background-position: top left;
    font-size: 65pt;
    color: #fab7b7;
        padding: 10%;
        position: relative;
        text-align: center; 
}

/* Group name */
#groupname{
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 5%;
    
}
#groupname h1{
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
    color: #fef9c7;
    text-align: center; 
    padding-bottom: 4%;
    padding-left: 15%;
}
#groupname a{
    text-decoration: none;
    color: #fef9c7;
}




/* image */

.image-size
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
       
    }


/* Resposnsive navigation bar */
@media only screen and (max-width:1150px){
    ul {
        flex-direction: column;
        padding-top: 60px;
    }
    li, a{
     margin: 0;
     color: #ebf7ee ;
     display: block;
    }
    a:hover{
        text-decoration: underline;
    }
  
    #groupname {
        padding-right: 40%;
    }
    .image-size
    {
         width: 70%;
    }
    .banner {
        font-size: 50px;
    }
    }
    
    
    /* Nav bar */
    ul {
        margin: 0;
        padding: 10;;
        display: flex;
     
    }

    
    li{
        list-style-type: none;
        margin: 2%;
        font-size: 18px;
        right: 0cm;
        
    }
    a {
        text-decoration: none; 
        right: 0;
        color: #ebf7ee ;
    
    }
    a:hover{
        text-decoration: underline;
    }
    nav {
        overflow: hidden;
        margin: 0em auto;
        width: 100%;
    }


#menu{
    position: absolute;
    top: 30px;
    right: 0;
}
@media screen and (min-width: 1150px) {
    #menu  {
      float: none;
      display: block;
      text-align: left;
    }

/* I refernced https://all-free-download.com/free-website-templates/download/amaryllis_2554.html */
