
/* Body and Text */
body{
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
    padding: 0px;
    background-image: url(Background.jpg);
    font-size: 13.5pt;
    color: #d1d7e0;
}



#text  {  
}

#text p {
    overflow: hidden;
    margin: 50px;
    border-bottom: 1px solid #C2C0C0 ;
    text-align: left ;
    
        font-size: 14pt;
        color: black;
        padding-bottom: 1%;
}
   
#text h1{
    margin: 0px;
    padding: 0px;
    font-size: 45pt;
    color: #E98074;
    position: relative;
    text-align: center;	   
}
#text h2 {

    margin: 50px;
    padding-top: 0%;
    font-size: 20pt;
    color: #473e3d;
    text-align: left ;
}


#text h3{
    margin: 2px;
    padding: 0px;
    font-size: 25pt;
    color: #473e3d;
    position: relative;
    padding-top: 30px;
border-top: 1px solid #C2C0C0 ;
}

#text h4{
    color: #919191;
    margin: 5px;
    padding: 0px;
}


/* Containers */
.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}


#header{
    position: relative;
}


.banner {
    background-color: #dddddd;
    height: 100%;
    margin: 0px 100px 0px 100px;
		position: relative;
        text-align: center;	
}

.block {
    height: 100%;
    margin: 0px 100px 0px 100px;
		position: relative;
        
}

/* Group name */
#groupname{
    position: absolute;
    right: 0;
    padding-right: 5%;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}




/* Resposnsive navigation bar */
@media only screen and (max-width:1150px){
    ul {
        flex-direction: column;
        padding-top: 60px;
    }
    li, a{
     margin: 0;
     color: #ebf7ee ;
     display: block;
    }
    a:hover{
        text-decoration: underline;
    }
  
    #groupname {
        padding-right: 20%;
    }
    .banner {
        height: 100%;
        margin: 0px 40px 0px 50px;
            position: relative;
    }
    }
  
    /* Nav bar */
    ul {
        margin: 0;
        padding: 10;;
        display: flex;
     
    }
    
    
    li{
        list-style-type: none;
        margin: 2%;
        font-size: 18px;
        right: 0cm;
        
    }
    a {
        text-decoration: none; 
        right: 0;
        color: #ebf7ee ;
    
    }
    a:hover{
        text-decoration: underline;
    }
    nav {
        overflow: hidden;
        margin: 0em auto;
        width: 100%;
    }
