/* text */


body{
    margin: 0px;
    padding: 0px;
    background-color: #9E5A63;
    font-family: "Times New Roman", Times, serif;
    font-size: 13.5pt;
    color: #d1d7e0;
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
    color: #E98074;
    position: relative;
        text-align: center;	
        padding-bottom: 10px;
}


#text  {

}
#text p {
    padding: 5px 55px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
    

}
#text h3{
    margin: 2px;
    padding: 0px;
    font-size: 25pt;
    color: #fef9c7;
    position: relative;
    padding-top: 30px;
    border-top: 1px solid #C2C0C0 ;
    text-align: center;
}
#text h4{
    color: #fef9c7;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 0px;
}


/* Container */
.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}



.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}



#header{
    position: relative;
}

.banner {
    background-color: #542f34;
    background-position: top left;
    font-size: 25pt;
    color: #d1d2d4;
		padding: 10%;
		position: relative;
        text-align: center;	
}



/* Group name */
#groupname{
    position: absolute;
    top: 20px;
    right: 0; 
    padding-right: 5%;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}




/* image */
image {
    display: inline-block;
    border: 1px solid #C2C0C0 ;
}
.image-size
    {
         width: 120%;
        margin: 0 0 5px 0;
    }


/* Resposnsive navigation bar */
@media only screen and (max-width:1150px){
    ul {
        flex-direction: column;
        padding-top: 60px;
    }
    li, a{
     margin: 0;
     color: #ebf7ee ;
     display: block;
    }
    a:hover{
        text-decoration: underline;
    }
  
    #groupname {
        padding-right: 40%;
    }
    }
    
    
    /* Nav bar */
    ul {
        margin: 0;
        padding: 10;;
        display: flex;
     
    }
    
    
    li{
        list-style-type: none;
        margin: 2%;
        font-size: 18px;
        right: 0cm;
        
    }
    a {
        text-decoration: none; 
        right: 0;
        color: #ebf7ee ;
    
    }
    a:hover{
        text-decoration: underline;
    }
    nav {
        overflow: hidden;
        margin: 0em auto;
        width: 100%;
        background-color: #9E5A63;
    }


#menu{
    position: absolute;
    top: 30px;
    right: 0;
}
@media screen and (min-width: 1150px) {
    #menu  {
      float: none;
      display: block;
      text-align: left;
    }