
body{
    margin: 0px;
    padding: 0px;
    background-color: #9E5A63;
    font: 2em "Century Gothic", sans-serif;
    font-size: 13.5pt;
    color: #d1d7e0;
}
h1{
    margin: 0px;
    padding: 0px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 25pt;
    color: #E98074;
    
    text-align: center; 
    padding-bottom: 4%;
    padding-left: 15%;
}
h2 {
    color: #bdb7b7;
    font: 2em "Century Gothic", sans-serif;
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

h4{
    color: #919191;
    font: 2em "Century Gothic", sans-serif;
    font-size: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
}
h5 {
    padding: 5px 55px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 14pt;
    text-align: center;
}
h6{
    margin: 0px;
    padding-top: 40px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 25pt;
    color: #E98074;
    
    text-align: center; 
    padding-bottom: 4%;
    padding-left: 15%;

}

#text  {

}
#text p {
    padding: 5px 55px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 14pt;
   
}
    

}
#text h3{
    margin: 2px;
    padding: 0px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 20pt;
    color: #E98074;
    position: relative;
    padding-top: 30px;
    border-top: 1px solid #C2C0C0 ;
}
#text h4{
    color: #d5cece;
    font: 2em "Century Gothic", sans-serif;
    font-size: 25px;
    margin: 5px;
    padding: 0px;
    text-align: left;
}
#text h2{
    
    text-align: center;
    font: 2em "Century Gothic", sans-serif;
    font-size: 18px;
    color: #C5c6c7;
    text-decoration: none;
}
#text h1 {
    
        margin: 2px;
        padding: 0px;
        font: 2em "Century Gothic", sans-serif;
        font-size: 25pt;
        color: #fef9c7;
        position: relative;
        padding-top: 30px;
        text-align: left;
        
        
   
}

#text h5{
    margin: 2px;
    padding: 0px;
    font: 2em "Century Gothic", sans-serif;
    font-size: 25pt;
    color: #fef9c7;
    position: relative;
    padding-top: 30px;
    border-top: 8px solid #C2C0C0 ;
    text-align: center;
}








.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}



.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}


#header{
    
    position: relative;
    padding: 50px 25px;
}


#groupname{
    position: absolute;
    top: 20px;
    left: 0;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}

.banner {
    background-color: #542f34;
    background-position: top left;
    font: 2em "Century Gothic", sans-serif;
    font-size: 65pt;
    color: #fef9c7;
        padding: 10%;
        position: relative;
        text-align: center; 
}


/* For the navigation bar, i used https://templated.co/saleable, 
to get the bar to sit on the top right hand side. I have changed the code to suit our wesbite.
I also liked the postioning of the title so i kept that */
ul {
    padding: 0;
    list-style: none;
    margin-top: 0;
    
}

#menu{
    position: absolute;
    top: 30px;
    right: 0;
}

#menu ul{
    display: inline-block;
}

#menu li{
    display: block;
    float: left;
    text-align: center;
    
}

#menu li a, #menu li span{
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 400;
    color: #ebf7ee ;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}
image {
    display: inline-block;
    border: 1px solid #C2C0C0 ;
}
.image-size
    {
         width: 120%;
        margin: 0 0 5px 0;
    }
#menu a:hover{
    text-decoration: underline;
}
/* Till here */ 

/* I refernced https://all-free-download.com/free-website-templates/download/amaryllis_2554.html 
for the four coloums, i used it find out how to add a fourth column. */
#placement
{
   
    overflow: hidden;
    
    border-top: 1px solid #C2C0C0 ;
    padding-bottom: 2%;
    
}

#placement .text
{
    text-align: center;
    color: #C5c6c7;
}

#placement h3
{
    padding-left: 15%;
    display: inline-block;
    font-size: 18px;
    color: #E98074 ;
}



.column1, .column2, .column3
{
    float: left;
    margin: 6.2%;
    width: 20.5%;
}



