

/* Text and body */
body{
    margin: 0px;
    padding: 0px;
    background-image:linear-gradient( #212121 30%, #413d65 70%);
    font-family: "Times New Roman", Times, serif;
    font-size: 15pt;
    color: #d1d7e0;
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
    color: #fef9c7;
    
    text-align: center; 
    padding-bottom: 4%;
    padding-left: 15%;
}
h2 {
    color: #bdb7b7;
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

h6{
    margin: 0px;
    padding-top: 40px;
    font-size: 25pt;
    color: #fef9c7;
    
    text-align: center; 
    padding-bottom: 4%;
    padding-left: 15%;

}

#text  {
}
#text p {
    padding: 5px 55px;
    font-size: 14pt;  
}
    
#text h2{
    
    text-align: center;
    font-size: 18px;
    color: #C5c6c7;
    text-decoration: none;
}
#text h1 {
    
        margin: 2px;
        padding: 0px;
        font-size: 25pt;
        color: #fef9c7;
        position: relative;
        padding-top: 30px;
        text-align: left; 
}

#text h5{
    margin: 2px;
    padding: 0px;
    font-size: 25pt;
    color: #fef9c7;
    position: relative;
    padding-top: 30px;
    border-top: 8px solid #C2C0C0 ;
    text-align: center;
}






/* Containers */
#header{
    position: relative;
}

.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}

.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}



.banner {
    background-color: #2b1f31;
    background-position: top left;
    font-size: 65pt;
    color: #fab7b7;
        padding: 10%;
        position: relative;
        text-align: center; 
}

/* Group name */
#groupname{
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 5%;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}




/* image */
image {
    display: inline-block;
    border: 1px solid #C2C0C0 ;
}
.image-size
    {
         width: 120%;
        margin: 0 0 5px 0;
    }


/* Resposnsive navigation bar */
@media only screen and (max-width:1150px){
    ul {
        flex-direction: column;
        padding-top: 60px;
    }
    li, a{
     margin: 0;
     color: #ebf7ee ;
     display: block;
    }
    a:hover{
        text-decoration: underline;
    }
  
    #groupname {
        padding-right: 40%;
    }
    .image-size
    {
         width: 70%;
    }
    }
    
    
    /* Nav bar */
    ul {
        margin: 0;
        padding: 10;;
        display: flex;
     
    }

    
    li{
        list-style-type: none;
        margin: 2%;
        font-size: 18px;
        right: 0cm;
        
    }
    a {
        text-decoration: none; 
        right: 0;
        color: #ebf7ee ;
    
    }
    a:hover{
        text-decoration: underline;
    }
    nav {
        overflow: hidden;
        margin: 0em auto;
        width: 100%;
    }


#menu{
    position: absolute;
    top: 30px;
    right: 0;
}
@media screen and (min-width: 1150px) {
    #menu  {
      float: none;
      display: block;
      text-align: left;
    }

/* I refernced https://all-free-download.com/free-website-templates/download/amaryllis_2554.html */

#placement
{
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    border-top: 1px solid #C2C0C0 ;
    padding-bottom: 2%;
    
}

#placement p
{
    padding-left: 15%;
   
    text-align: center;
    color: #C5c6c7;
}

#placement h3
{
    padding-left: 30%;
    display: inline-block;
    font-size: 18px;
    color: #E98074 ;
}



.column1, .column2, .column3
{
    float: left;
    margin: 6.2%;
    width: 20.5%;
}