

body{
    margin: 0px;
    padding: 0px;
    background-color: #9E5A63;
    font-family: "Times New Roman", Times, serif;
    font-size: 13.5pt;
    color: #d1d7e0;
}
h1{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 25pt;
    color: #E98074;
    position: relative;
        text-align: center;	
        padding-bottom: 10px;
}


#sidenav {
  
    height: 100%;
    width: 25%; 
    top: 0;
    left: 0;
    background-color: #d8bdc0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    float: left;
  }
  
  #sidenav a {
    text-align: center;
    padding-top: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    text-decoration: none;
    color: black;
  }
  #sidenav p {
      padding-bottom: 15px;
  }
  #sidenav li:hover a, #sidenavli.active a, #sidenav li.active span
{}
#sidenav a:hover{
    text-decoration: underline;
}

#sidenav h2{
    margin: 0px;
    font-size: 20pt;
    color: #862525;
    position: relative;
    text-align: center;	
    
}



#contentbox {
    margin-left: 200px;
    padding: 1px 25px;
    height: 1000px;
    margin-left: 0;
     text-align: center;
  }
  #contentbox h3{
    margin: 5px;
  
    font-family: "Times New Roman", Times, serif;
    font-size: 25pt;
    color: #E98074;
    position: relative;
    padding-top: 30px;
    
    
  }


#text  {

}
#text p {
    padding: 5px 55px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    text-decoration: none;
    

}
#text h3{
    margin: 2px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 25pt;
    color: #fef9c7;
    position: relative;
    padding-top: 30px;
    border-top: 1px solid #C2C0C0 ;
    text-align: center;
}
#text h4{
    color: #E98074;
    font-family: "Times New Roman", Times, serif;
    margin: 5px;
    padding: 0px;
}
.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}



.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}



#header{
    font-family: "Times New Roman", Times, serif;
    position: relative;
    padding: 50px 25px;
}


#groupname{
    position: absolute;
    top: 20px;
    left: 0;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}

.banner {
    background-color: #473e3d;
    background-position: top left;
    font-family: "Times New Roman", Times, serif;
    font-size: 25pt;
    color: #d1d2d4;
		padding: 210px 0;
		position: relative;
        text-align: center;	
}

.banner2 {
    background-color: #542f34;
    background-position: top left;
    font-family: "Times New Roman", Times, serif;
    font-size: 25pt;
    color: #fef9c7;
		padding: 80px 0;
		position: relative;
        text-align: center;	

}
/* For the navigation bar, i used https://templated.co/saleable, 
to get the bar to sit on the top right hand side. I have changed the code to suit our wesbite.
I also liked the postioning of the title so i kept that */
ul {
    padding: 0;
    list-style: none;
    margin-top: 0;
    
}

#menu{
    position: absolute;
    top: 30px;
    right: 0;
}

#menu ul{
    display: inline-block;
}

#menu li{
    display: block;
    float: left;
    text-align: center;
    
}

#menu li a, #menu li span{
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
    color: #ebf7ee;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}
image {
    display: inline-block;
    border: 1px solid #C2C0C0 ;
}
.image-size
	{
		display: block;
        width: 300px;
        height: 200px;
		margin: 0 0 5px 0;
	}
#menu a:hover{
    text-decoration: underline;
}
/* Till here */ 

/* I refernced https://all-free-download.com/free-website-templates/download/amaryllis_2554.html 
for the four coloums, i used it find out how to add a fourth column. */
#placement
{
    overflow: hidden;
    padding-top: 50px;
    border-top: 1px solid #C2C0C0 ;
    padding-bottom: 50px;
    
}

#placement .text
{
    font-family: "Times New Roman", Times, serif;
    color: #d1d7e0 ;
}

#placement h3
{
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
    color: #E98074;
}


.column1, .column2, .column3
{
    float: left;
    margin-right: 0%;
    width: 25%;
}

.column4
{
    float: right;
    width: 25%;
}
.button
	{
        display: inline-block;
        border-radius:6px;
		margin-top: 15px;
		padding: 8px 20px;
		background: #ffcc99;
		line-height: 25px;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 16px;
        color: #666666;
      
	   
    }
