


body{
    margin: 0px;
    padding: 0px;
    background-color: #9E5A63;
    font-family: "Times New Roman", Times, serif;
    font-size: 13.5pt;
    color:#e1cdd0;
    ;
}
h1{
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
    color: #E98074;
    position: relative;
        text-align: center;	
        padding-bottom: 10px;
}


/* image */
image {
    display: inline-block;
    border: 1px solid #C2C0C0 ;
}
.image-size
    {
         width: 120%;
        margin: 0 0 5px 0;
    }


/* Resposnsive navigation bar */
@media only screen and (max-width:1150px){
    ul {
        flex-direction: column;
        padding-top: 60px;
    }
    li, a{
     margin: 0;
     color: #ebf7ee ;
     display: block;
    }
    a:hover{
        text-decoration: underline;
    }
  
    #groupname {
        padding-right: 40%;
    }
    }
    
    
    /* Nav bar */
    ul {
        margin: 0;
        padding: 10;;
        display: flex;
     
    }
    
    
    
    li{
        list-style-type: none;
        margin: 2%;
        font-size: 18px;
        right: 0cm;
        
    }
    a {
        text-decoration: none; 
        right: 0;
        color: #ebf7ee ;
    
    }
    a:hover{
        text-decoration: underline;
    }
    nav {
        overflow: hidden;
        margin: 0em auto;
        width: 100%;
        background-color: #9E5A63;
    }





#contentbox {
    margin-left: 200px;
    padding: 1px 25px;
    height: 1000px;
    margin-left: 0;
     text-align: center;
  }
  #contentbox h3{
    margin: 5px;
    font-size: 25pt;
    color: #E98074;
    position: relative;
    padding-top: 30px;
  }


#text  {

}
#text p {
    padding: 5px 55px;
    font-size: 14pt;
    text-decoration: none;
    

}
#text h3{
    margin: 2px;
    padding: 0px;
    font-size: 25pt;
    color: #ed998f;
    position: relative;
    padding-top: 30px;
    border-bottom: 1px solid #C2C0C0 ;
}
#text h4{
    color: #919191;
    margin: 5px;
    padding: 0px;
}
.border{
      overflow: hidden;
      padding-top: 30px;
      border-top: 1px solid #C2C0C0 ;
      padding-bottom: 50px;
      border-bottom: 1px solid #C2C0C0 ;
}



.container{
    overflow: hidden;
    margin: 0em auto;
    width: 90%;
}

.container2{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}


#header{
    position: relative;
}

/* Group name */
#groupname{
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 5%;
    
}

#groupname a{
    text-decoration: none;
    color: #fef9c7;
}
.button2
	{
        display: inline-block;
        border-radius:6px;
		margin-top: 15px;
		padding: 8px 20px;
		background: #ffcc99;
		line-height: 25px;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 16px;
        color: #666666;
        float: right;
      
	   
	}



.banner3 {
   
    background-color: #542f34;
    background-position: top left;
    font-size: 90px;
    color: #fef9c7;
		padding: 10%;
		position: relative;
        text-align: center;	
      

         
}



.Team
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
        
}


.container2
{
position: relative;
width: 1000px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.container2 .CardContent
{
    position: relative;
    max-width: 450px;
    background: #0f0909;
    margin: 10px;
    padding: 15px;
    display: flex;
}

.Profile
{
    position: relative;
    max-width: 98%;
    background: #1f1213;
    margin: 10px;
    padding: 15px;
 
    display: flex;
   
    box-shadow: 10px 10px 5px 0px rgba(46, 46, 46, 0.932);
    border-radius: 10px;

}


.Profile .Cardimg
{
    float: left;
    max-width: 28%;
    padding-right: 30px;
    
}





.Cardimg img
{   
    max-width: 100%;
}

.Profile .CardContent .About
{
    
    margin-left: 20px;
}

#testh1
{
    color: #e1cdd0;
}



.About 
{
    color: #e1cdd0;
}

.About
{
    font-size: 0.45cm;
}



























